html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);
  --softViolet: hsl(273, 75%, 66%);
  --softBlue: hsl(240, 73%, 65%);
  --veryDarkGrayishBlue: hsl(237, 12%, 33%);
  --darkGrayishBlue: hsl(240, 6%, 50%);
  --lightGrayishBlue: hsl(240, 5%, 91%);
  --fontSize: 12px;
  --normal: 400;
  --bold: 700;
  --font: 'Kumbh Sans', sans-serif;
  --heading: 25px;
  --borderRadius: 30px;
}

html,
body {
  display: grid;
  place-items: center;
  font-family: var(--font);
  color: var(--veryDarkDesaturatedBlue);
  width: 100%;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 25px;
  font-size: var(--fontSize);
  font-weight: var(--normal);
  background: linear-gradient(180deg, var(--softViolet), var(--softBlue));
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 330px;
  max-height: 535px;
  background-color: var(--lightGrayishBlue);
  border-radius: var(--borderRadius);
  font-family: var(--font);
  position: relative;
}

.card-images {
  position: absolute;
  width: 250px;
  height: 180px;
}

.bg-image-mobile {
  position: absolute;
  top: -60%;
  left: 15%;
  width: 250px;
  height: 180px;
}

.bg-image {
  display: none;
}

.bg-shadow-mobile {
  position: absolute;
  left: 15%;
  top: 0;
}

.bg-box {
  display: none;
}

.contents {
  width: 85%;
  margin: 135px 25px 50px 25px;
}

.contents h1 {
  font-size: var(--heading);
  font-weight: var(--bold);
  margin-bottom: 30px;
}

.accordion {
  overflow: hidden;
}

.accord-toggle {
  display: none;
}

.accord-toggle:checked ~ .accordion-content {
  display: block;
}

.accord-toggle:checked ~ .accordion-label::before {
  transform: translate(2px, 0) rotate(-45deg);
}

.accord-toggle:checked ~ .accordion-label::after {
  transform: translate(-2px, 0) rotate(45deg);
}

.accord-toggle:checked ~ .accordion-label {
  font-weight: var(--bold);
}

.accordion-label {
  display: block;
  cursor: pointer;
  position: relative;
  transition: color 0.1s;
}

.accordion-label:hover {
  color: var(--softRed);
}

.accordion-label::before,
.accordion-label::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 4px;
  width: 2px;
  height: 8px;
  background-color: var(--softRed);
  transition: transform 0.4s;
}

.accordion-label::before {
  transform: translate(2px, 0) rotate(45deg);
}

.accordion-label::after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.accordion-content {
  padding: 5px 0;
  display: none;
}

.accordion-content p {
  width: 240px;
}

.accordion hr {
  border-top: 1px solid var(--darkGrayishBlue);
  opacity: 0.3;
}

@media only screen and (min-width: 768px) {
  main {
    max-width: 920px;
    width: 100%;
    height: 510px;
    display: flex;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: -520px -260px;
    background-size: cover;
  }

  .card-images {
    position: relative;
    width: 50%;
  }

  .bg-image {
    display: block;
    position: absolute;
    top: 40%;
    width: 450px;
    height: 360px;
    background-image: url('./images/illustration-woman-online-desktop.svg');
    background-repeat: no-repeat;
    background-position: 300% 45%;
  }

  .bg-image-mobile {
    display: none;
  }

  .bg-shadow-mobile {
    display: none;
  }

  .bg-box {
    display: block;
    position: absolute;
    left: -24%;
    top: 110%;
  }

  .contents {
    width: 50%;
    margin: 0;
    padding: 75px 75px 80px 85px;
  }

  .contents h1 {
    margin-bottom: 45px;
  }

  .accordion {
    width: 100%;
  }

  .accordion-content {
    padding: 10px 0;
  }

  .accordion-content p {
    width: 315px;
  }
}
